<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form class="form-login" method="post">
            <input type="text" name="username" class="form-control input-sm" placeholder="Username" />
            <input type="password" name="password" class="form-control input-sm" placeholder="Password" />
            <button type="submit" class="btn btn-primary btn-md">Login <i class="fa fa-sign-in"></i></a>
        </form>
    </div>
</div>