<div class="row">
    <div id="map" class="col-md-offset-3 col-md-3"></div>
    <div class="col-md-3">
        <ul class="list-group">
            {{#each stations}}
            	<li class="station list-group-item">
                    <div class="name">{{name}}</div>
                    <div class="lat">{{location.lat}}</div>
                    <div class="lng">{{location.lng}}</div>
                </li>
            {{/each}}
        </ul>
        <script type="text/javascript">
			var map;
			function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 0, lng: 0},
                    zoom: 2
                });
                
                var a = $('.station').each(function(station){
                    var lat = $(this).find('.lat').text();//parseFloat
                    var lng = $(this).find('.lng').text();
                    var name = $(this).find('.name').text();
                    var marker = new google.maps.Marker({
                        position: {lat: parseFloat(lat), lng: parseFloat(lng)},
                        map: map,
                        title: name
                    });
                    console.log(lat)
                    console.log(typeof lat)
                });
			}
	    </script>
	    <script async defer
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJT1auBxK1AokhgPUMlqzLRcyMUDVMw3E&callback=initMap">
	    </script>
    </div>
</div>

<style>
#map {
    height: 600px;
}
</style>