    <div id="navbar" class="navbar-collapse collapse navbar-inverse">
          <ul class="nav navbar-nav">
            <li><a href="/admin/owner/home">Inicio</a></li>
            <li class="active"><a href="/admin/owner/station">Adicionar/editar posto</a></li>
            <li><a href="#contact">Editar perfil</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a> Bem vindo, {{owner.username}}!</a></li>
            <li><a href="/admin/owner/logout">Sair</a></li>
          </ul>
    </div>

<div class="row">
    <div id="map" class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/api/gas" method="post">
            <div class="form-group">
                <input class="form-control" name="name" placeholder="Nome">
                <input class="form-control" name="lat" placeholder="Latitude" readonly>
                <input class="form-control" name="lng" placeholder="Longitude" readonly>
                <input class="form-control" type="submit" value="Enviar">
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form action="/api/gas" method="post">
            <div class="form-group">
                <input class="form-control" name="name" placeholder="Nome">
                <input class="form-control" name="lat" placeholder="Latitude" readonly>
                <input class="form-control" name="lng" placeholder="Longitude" readonly>
                <input class="form-control" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var map;

    function setLatLngForm(event) {
        $("input[name=lat]").val(event.latLng.lat());
        $("input[name=lng]").val(event.latLng.lng());
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 0, lng: 0},
            zoom: 13
        });

        var marker;


        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };


            map.setCenter(pos);
          });
        }
        
        google.maps.event.addListener(map, 'click', function(event) {
            if (!marker) {
                marker = new google.maps.Marker({
                    draggable: true,
                    position: event.latLng,
                    map: map
                });
                setLatLngForm(event);
                marker.addListener('drag', setLatLngForm);
            }
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJT1auBxK1AokhgPUMlqzLRcyMUDVMw3E&callback=initMap">
</script>

<style>
#map {
    width: 400px;
    height: 400px;
}
input {
    margin: 10px;
}
</style>