<div class="row">
    <div id="navbar" class="navbar-collapse collapse navbar-inverse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/owner/home">Inicio</a></li>
            <li><a href="/admin/owner/station">Adicionar/editar posto</a></li>
            <li><a href="/admin/owner/edit">Editar perfil</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a> Bem vindo, {{owner.username}}!</a></li>
            <li><a href="/admin/owner/logout">Sair</a></li>
          </ul>
    </div>
    <div class='container'>
        <div id="map" class="desk col-md-offset-3 col-md-3"></div>
        <div class="desk col-md-3">
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJT1auBxK1AokhgPUMlqzLRcyMUDVMw3E&callback=initMap">
            </script>
        </div>
    </div>    
</div>

<style>
#map {
    height: 600px;
}
.station {
    margin: 10px;
}
.container {
    margin-top:70px;
}
</style>